.a
{
    font-family: 'Bebas Neue', sans-serif;
    font-size:80px;
    display: flex;
    justify-content: center;
}

.b
{
 font-family:  'Source Code Pro', monospace;
 font-size:25px;
 margin-left: 50px;
 margin-top: 25px;
}