<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eiffel Shows</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" type="images">
  <link href="https://fonts.googleapis.com/css2?family=Habibi&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css')}}">
</head>

<body style="margin: 0;">
  <div>
    <nav>
      <div>
        <div class="nav">
          <div class="logo">
            <div class="logo1">
              <div><img src="{{url_for('static', filename='images/logo.svg')}}" width="200px" style="border-radius: 16px;"></div>
              <!-- <div></div> -->
            </div>
            <!-- <div class="logo2"> -->
            <!-- <div><p>SlideShop</p></div> -->
            <!-- <div> for free</div> -->
            <!-- </div> -->
          </div>

          <div>
            <p>&nbsp;&nbsp;</p>
          </div>
          <div class="sign">
            <a href="{{url_for('registration')}}" target="_blank"
              style="text-decoration: none;color: rgb(5, 223, 252);"><b>Sign Up</b></a>
            <a href="{{url_for('login')}}" target="_blank" style="text-decoration:none;color: white;">Log In</a>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <!-- <div>
    <br>
    <br>
    <div>
      Create Slideshow
      <div>
        Upload images
        <div>
          <button type="button" active=".jpeg, .jpg, .png, .svg"></button>
        </div>
      </div>
    </div>

  </div> -->
  <div class="backgrnd">
    <div class="matter">
      <div class="para">
        <h1 style="color: rgb(246, 7, 7);font-size:50px;">Video SlideShop</h1>
        <p style="font-size: 30px;">
          Transform your photos into dynamic video slideshows effortlessly. Customize transitions, add music, and
          personalize captions with ease. Perfect for sharing memories or showcasing your creativity. Elevate your
          storytelling with our user-friendly Photos to Video Slideshow Converter.
        </p>
      </div>

      <div class="gettingstarted">
        <div class="getstarted">
          <a href="{{url_for('registration')}}" target="_blank" style="text-decoration: none;"><b style="color:white;">Get
              Started</b></a>
        </div>

        <!-- <div class="getstarted">
          <a href="html/function.html" target="_blank" style="text-decoration: none;"><b style="color: white;">Create Video</b></a>
        </div> -->
      </div>
      <div>
      <br><br>
      </div>

    </div>
    <figure>
      <div class="image">
        <img src="https://videohive.img.customer.envatousercontent.com/files/410281067/Cover.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=ca675476a07caf042019801d511c3d7f">
      </div>
    </figure>
  </div>

</body>

</html>