<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In Page</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styleregister.css')}}"
    />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" type="images">
    <!-- <script>
        function loginsuccessfull(){
          event.preventDefault(); // Prevent the default form submission behavior

            // Get the entered username and password
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            // Check username and password
             if (username === "admin" && password === "admin") {
                document.getElementById('replace').innerHTML = "Admin Login Success";
            } else {
              document.getElementById('replace').innerHTML = "Login Successful";          
            }   

            setTimeout(function(){
                window.location.href = "function.html";
            }, 3000);
        }
      </script> -->
  </head>
  <body>
    <p>Log In</p>
    <div class="register">
      <div class="form">
        <form action="/login" method="POST">
          <div class="flex-form">
            <div>
              <b style="color:whitesmoke;font-size: large;">Username : <br></b>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter Your Username"
                required
              />
              {% if error %}
              <p style="color: black;font-size: large;padding: 0%;">*{{error}}</p>
              {% endif %}
            </div>
            <div>
              <b style="color:whitesmoke;font-size: large;">Password : <br></b>
              <input
                type="password"
                id="password"
                name="password"
                placeholder=" Enter Your Password"
                required
              />
            </div>
          </div>
          <div class="buttons">
            <div>
              <button> Login
              </button>
            </div>
          </div>
          <div>
            <p style="color:whitesmoke;font-size: large;">Don't have an account?<a href="{{url_for('registration')}}" style="text-decoration:none ;color:rgb(4, 250, 193);font-size: large; "><b>Register</b></a></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>