<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up for Eiffel</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styleregister.css')}}"
    />
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" type="images">
    <!-- <script>
      function Registersuccessfull(){
        event.preventDefault();
        console.log("Registration successful!");
        document.getElementById('register').innerHTML = "Registered Successfully!";
        setTimeout(function(){
                window.location.href = "function.html";
            }, 3000);
        }
    </script> -->
  </head>
  <body>
    <p>Sign Up</p>
    <div class="register">
      <div class="form">
        <form action="/registration" method="POST">
          <div class="flex-form">
            <div>
              <b style="color:whitesmoke;font-size: x-large;">Username :</b>
              <input
                type="text"
                id="username"
                name="username"
                placeholder=" Enter Your Username"
                required
              />
              {% if error %}
              <p style="color:  whitesmoke; font-size: x-large; padding: 0%;">*{{ error }}</p>
              {% endif %}
            </div>
            <div>
              <b style="color:  whitesmoke;font-size:x-large;">Email-Id :</b>
              <input
                type="email"
                id="email"
                name="email"
                placeholder=" Enter Your Email-Id"
                required
              />
            </div>
            <div>
              <b style="color: whitesmoke;font-size: x-large;">Name :</b>
              <input
                type="text"
                id="Name"
                name="Name"
                placeholder=" Enter Your Name"
                required
              />
            </div>
            <div>
              <b style="color:  whitesmoke;font-size: x-large;">Password :</b>
              <input
                type="password"
                id="password"
                name="password"
                placeholder=" Enter Your Password"
                required
              />
            </div>
            
          </div>
          <div class="buttons">
            <div>
              <button type="submit"><b>Register</b></button>
            </div>
            
          </div>
          <div>
            <p style="color:whitesmoke;font-size: larger;">Already have an account?<a href="{{url_for('login')}}" style="text-decoration:none ;color:rgb(4, 250, 193);font-size: larger; "><b>Login</b></a></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
