
body {
    /* background-color: hsla(280, 90%, 74%, 0.2); */
    background-image: url(https://wallpapers.com/images/featured/space-sjryfre8k8f6i3ge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Madimi One;
}
p {
    text-align: center;
    color: rgb(233, 231, 229);
    text-shadow: 1% 1% 2% 2%;
    font-size: 60px;
    /* font-family: Madimi One; */
}
.register {
    border: solid 2px none;
    padding: 1.5%;
    border-radius:16px ;
    margin:5% 30% 15% ;
    /* background-color: rgba(240, 248, 255, 0.5); */
}

.register > .form {
    border: 1px solid #f9f7fa;
    border-radius: 10px;
    box-shadow:  5px 5px 15px #f2e7f897 ;
    
    background-color: rgba(240, 248, 255, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-flow: column ;
    padding: 2%;
}

input {
    
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    border-color: transparent;
    border-bottom: grey solid 1px;
    border-top: #faf7fba0;
    border-radius: 6px; 
    color: rgb(0, 0, 0); 
    padding: 1.5%;
}

::placeholder{
    color: rgb(75, 74, 74);
}

div.register > div.form > div.buttons > button {
    padding: 12%;
    background-color: #f9f7fa54;
    border-color: none;
    border-radius: 4px;
    border-collapse: separate;
    cursor: pointer;

}

button {
    padding: 5%;
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.786);
    background-color:black;
    color:white;
    /* font-family: Quicksand; */

}
button:hover {
    transform: scale(1.1);
}

input:hover {
    /* outline-color: aqua; */
    border-color: aqua 1px solid;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-form > div {
    flex: 3;
    /* flex-grow: 2; */
    padding: 5%;
}

@media screen and (max-width:500px){
    
}

button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    /* font-family: Quicksand; */
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff; */
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    color: #f8f8f8;
    background-image: linear-gradient(to right, #a90fd8 0%, #8e47f9 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }
